*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 70%;
    height: auto;
    margin: 20px auto;
    background-color: #DFE6E8;
    padding: 10px;
    border-top: 4px solid #6EADA5;
    border-left: 2px solid #6EADA5;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: 5px auto;
}

.container-item{
    position: relative;
    text-transform: uppercase;
    flex: 0 0 33%;
    margin-top: 10px;
    background-color: white;
}

.main-item{
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    max-width: 80%;
    height: auto;
    color: white;
    display: flex;
    flex: 0 0 66.5%;
    position: relative;
    margin-top: 10px;
}

.container-item-date-main{
    display: block;
    position: absolute;
    bottom: 20%;
    left: 10%;
    padding: 0 5px;
}

.container-item-heading-main{
    color: white;
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 0 5px;
}

.container-item-image{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.container-item-block{
    padding-left: 10px;
}

.container-item-date{
    padding-top: 5px;
}

.container-item-heading{
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 16px;
}

.container-item-icon{
    margin-top: 15%;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 1020px) {
    .container{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 15px;
    }
 }

 @media screen and (max-width: 780px) {
    .container-item-date-main{
        left: 3%;
    }

    .container-item-heading-main{
        left: 3%;
    }
 }

 @media screen and (max-width: 660px) {
    .container-item-date-main{
        bottom: 35%;
    }
 }

 @media screen and (max-width: 520px) {
    .container-item-date-main{
        bottom: 35%;
    }

    .container-item-block > p{
        font-size: 10px;
    }
    .container-item-block > h2{
        font-size: 12px;
    }
 }

 @media screen and (max-width: 450px) {
    .row{
        margin: 0;
    }

    .container{
        padding: 5px;
    }
    .container-item-date-main{
    font-size: 14px;
    bottom: 30%;
    }

    .container-item-heading-main{
        font-size: 18px;
    }

    .container-item{
        margin-top: 3px;
    }
 }